
@{
    ViewData["Title"] = "Ticket";
}
<style>
    .src-components-reserva {
    }

    .container2 {
        display: grid;
        grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
        grid-template-rows: 0fr 1fr 0fr;
        gap: 30px 30px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . . ."
            ". Datos Datos Ticket ."
            ". . . . .";
    }

    .Ticket {
        background-color: white;
        text-align: left; /* Agregao manual */
        border: 2px solid black; /* Agregao manual */
        padding: 5px; /* Agregao manual */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0.1fr 0fr;
        gap: 15px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "TICKET TICKET TICKET"
            ". . ."
            "Numero Numero Numero"
            "Pelicula Pelicula Pelicula"
            "Dia Dia Dia"
            "Hora Hora Hora"
            "Sala Sala Sala"
            "CantidadEntradas CantidadEntradas CantidadEntradas"
            "ValorTotal ValorTotal ValorTotal"
            "MedioPago MedioPago MedioPago"
            ". . .";
        grid-area: Ticket;
    }

    .TICKET {
        grid-area: TICKET;
        font-family: 'Convergence', sans-serif;
    }

    .Numero {
        grid-area: Numero;
        font-family: 'Nunito', sans-serif;
    }

    .Pelicula {
        grid-area: Pelicula;
        font-family: 'Nunito', sans-serif;
    }

    .Dia {
        grid-area: Dia;
        font-family: 'Nunito', sans-serif;
    }

    .Hora {
        grid-area: Hora;
        font-family: 'Nunito', sans-serif;
    }

    .Sala {
        grid-area: Sala;
        font-family: 'Nunito', sans-serif;
    }

    .CantidadEntradas {
        grid-area: CantidadEntradas;
        font-family: 'Nunito', sans-serif;
    }

    .ValorTotal {
        grid-area: ValorTotal;
        font-family: 'Nunito', sans-serif;
    }

    .MedioPago {
        grid-area: MedioPago;
        font-family: 'Nunito', sans-serif;
    }

    .Datos {
        text-align: left; /* Agregao manual */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.1fr 1fr 1fr;
        gap: 0px 30px;
        grid-auto-flow: row;
        grid-template-areas:
            "Nombre Nombre"
            "Portada Funcion"
            "Portada ."
            "Portada SELECCIONAR-PAGO"
            "Portada Tarjeta"
            "Portada MercadoPago"
            "Portada ."
            "Portada InputCantidadEntradas"
            "Portada Input"
            "Portada Reservar"
            ". .";
        grid-area: Datos;
    }

    .Nombre {
        grid-area: Nombre;
        font-family: 'Nunito', sans-serif;
    }

    .Portada {
        grid-area: Portada;
    }

    .Funcion {
        grid-area: Funcion;
        font-family: 'Nunito', sans-serif;
    }

    .SELECCIONAR-PAGO {
        grid-area: SELECCIONAR-PAGO;
        font-family: 'Nunito', sans-serif;
    }

    .Tarjeta {
        grid-area: Tarjeta;
        font-family: 'Nunito', sans-serif;
    }

    .MercadoPago {
        grid-area: MercadoPago;
        font-family: 'Nunito', sans-serif;
    }

    .InputCantidadEntradas {
        grid-area: InputCantidadEntradas;
        font-family: 'Nunito', sans-serif;
    }

    .Input {
        grid-area: Input;
    }

    .Reservar {
        grid-area: Reservar;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
    }
</style>
<section class="src-components-reserva">
    <div class="container2">
        <div class="Ticket">
            <div class="TICKET">TICKET</div>
            <div class="Numero">
                NÚMERO:
            </div>
            <div class="Pelicula">

            </div>
            <div class="Dia">
                DIA:
            </div>
            <div class="Hora">
                HORA:
            </div>
            <div class="Sala">
                SALA:
            </div>
            <div class="CantidadEntradas">
                CANTIDAD DE ENTRADAS:
            </div>
            <div class="ValorTotal">
                VALOR TOTAL: $
            </div>
            <div class="MedioPago">
                MEDIO DE PAGO:
            </div>
        </div>
    </div>
</section>



