@model Usuario;
@{
    ViewData["Title"] = "LogIn";
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1.7fr 1fr 2.5fr 1fr;
        grid-template-rows: 0.5fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . . . ."
            ". IngresarCuenta . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". TituloUsuario . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". TextoUsuario . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". TituloClave . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". TextClave . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". BotonLogIn . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". Registrarse . ImagenPromocional ."
            ". . . ImagenPromocional ."
            ". . . . .";
    }

    span {
        font-family: 'Nunito', sans-serif;
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

        a:link {
            color: #3b7a07;
            color: #6db434;
            font-weight: bolder;
        }

        a:visited {
            color: #437A16;
        }

        a:focus {
            border-bottom: 1px solid;
            background: #bae498;
        }

        a:hover {
            border-bottom: 1px solid;
            background: #cdfeaa;
        }

        a:active {
            background: #265301;
            color: #cdfeaa;
        }

    .adjustPosition {
        margin-top: auto;
    }

    .IngresarCuenta {
        grid-area: IngresarCuenta;
        font-family: 'Convergence', sans-serif;
    }

    .TituloUsuario {
        grid-area: TituloUsuario;
        font-family: 'Convergence', sans-serif;
        font-size: 18px;
        font-weight: bolder;
    }

    .TextoUsuario {
        grid-area: TextoUsuario;
        font-family: 'Nunito', sans-serif;
    }

    .TituloClave {
        grid-area: TituloClave;
        font-family: 'Convergence', sans-serif;
        font-size: 18px;
        font-weight: bolder;
    }

    .TextClave {
        grid-area: TextClave;
        font-family: 'Nunito', sans-serif;
    }

    .BotonLogIn {
        grid-area: BotonLogIn;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
    }

    .Registrarse {
        grid-area: Registrarse;
    }

    .ImagenPromocional {
        grid-area: ImagenPromocional;
    }
</style>

@using (Html.BeginForm("Validar", "Usuarios", FormMethod.Post))
{
    <div class="grid-container">
            <div class="IngresarCuenta mb-2" style="margin-top: auto;">INGRESÁ A TU CUENTA</div>
            <div class="TituloUsuario adjustPosition">EMAIL</div>
            <div class="TextoUsuario mb-2 adjustPosition">
                @Html.TextBoxFor(u => u.mail, new { @class = "text", type = "text", required = "required" })
            </div>
            <div class="TituloClave adjustPosition">CONTRASEÑA</div>
            <div class="TextClave mb-4 adjustPosition">
                @Html.TextBoxFor(u => u.clave, new { @class = "text", type = "password", required = "required" })
            </div>
            <div class="BotonLogIn">
                <input type="submit" class="btn btn-dark" value="LOGIN">
                <br>
                <label style="@ViewBag.Erro">Usuario y/o contraseña invalido(s)!</label>
            </div>
            <div class="Registrarse"><span>¿No tenés cuenta? </span><a href="Home/Register">Registrate</a></div>
            <div class="ImagenPromocional">
                <img src="https://www.losgallegos.com.ar/wp-content/uploads/2021/04/Promo-Cine-3.png" alt="promoción-cine">
            </div>
    </div>
}

