@{
    ViewData["Title"] = "Mi Perfil";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 0.2fr 0.9fr 0.4fr 3fr 0.5fr;
        grid-template-rows: 0.6fr 0.3fr 0.6fr 0.4fr 0.7fr 0.3fr 0.8fr 1.1fr 3.8fr 1.7fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". Nombre . AddName ."
            ". . . . ."
            ". APELLIDO . AddApellido ."
            ". . . . ."
            ". MAIL . AddMail ."
            ". . . . ."
            ". DNI . AddDNI ."
            ". . . . ."
            ". IMAGEN IMAGEN IMAGEN ."
            ". . . . ."
            ". . . . .";
    }

    .Nombre {
        grid-area: Nombre;
    }

    .APELLIDO {
        grid-area: APELLIDO;
    }

    .MAIL {
        grid-area: MAIL;
    }

    .DNI {
        grid-area: DNI;
    }

    .AddName {
        grid-area: AddName;
    }

    .AddApellido {
        grid-area: AddApellido;
    }

    .AddMail {
        grid-area: AddMail;
    }

    .AddDNI {
        grid-area: AddDNI;
    }

    .IMAGEN {
        grid-area: IMAGEN;
    }

/*    #izquierda {
        text-align: left
    }
    #derecha {
        text-align: right;
    }
   */
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <h2>Mi Perfil</h2>
    <form>
        <div id="izquierda">
            <br><label for="minombre">NOMBRE </label>
            <input type="text" name="minombre" id="minombre" placeholder="Mi Nombre">
            <br><label for="miapellido">APELLIDO </label>
            <input type="text" name="miapellido" id="miapellido" placeholder="Apellido">
            <br><label for="mimail">MAIL </label>
            <input type="email" name="mimail" id="mimail" placeholder="Mail">
            <br><label for="midni">DNI </label>
            <input type="text" name="midni" id="midni" placeholder="DNI">

        </div>

        <div id="derecha">
            <br><label for="miclave">CLAVE </label>
            <input type="password" name="miclave" id="miclave" placeholder="Clave">
            <br><label for="midireccion">DIRECCION </label>
            <input type="text" name="midireccion" id="midireccion" placeholder="Direccion">
            <br><label for="mitelefono">TELEFONO </label>
            <input type="text" name="mitelefono" id="mitelefono" placeholder="Telefono">

            <br><button type="submit">Guardar</button>

        </div>
    </form>


</body>
</html>